snippet require-var
alias   rqv
options head
  var ${1:name} = '${2:module}';
  ${0:TARGET}

snippet require-var-node-module
alias   rqvm
options head
  var ${1:name} = '$1';
  ${0:TARGET}

snippet require
alias   rq
options head
  const ${1:name} = '${2:module}';
  ${0:TARGET}

snippet require-node-module
alias   rqm
options head
  const ${1:name} = '$1';
  ${0:TARGET}
