snippet #!
abbr    #!/bin/sh
alias   shebang
options head
  #!/bin/${1:sh}
  ${0}

snippet if
  if [ ${1:#:condition} ]; then
    ${0:TARGET}
  fi

snippet for
  for ${1:i} in ${2:#:words}; do
    ${0:TARGET}
  done

snippet case
options head
  case "$${1:{name\}}" in
    ${2:pattern*})
      ${0}
      ;;
    *)
      ${3:otherwise}
  esac
