# Folders
.atom/.apm/
.atom/.node-gyp/
.atom/blob-store/
.atom/compile-cache/
.atom/gist-it.token
.atom/packages/
.atom/storage/
.bundle/cache/
.git/
node_modules/
tmp/

# Files
*.beam
*.gz
*.pyc
*.sw[nop]
*.tar
*.zip
*~
.DS_Store
.envrc
my_local_mode*

.tags*
tags
!tags/
.memento-cache/
