.atom/.apm/
.atom/.node-gyp/
.atom/blob-store/
.atom/compile-cache/
.atom/gist-it.token
.atom/packages/
.atom/storage/
node_modules/
tmp/

*.beam
*.gz
*.pyc
*.sw[nop]
*.tar
*.zip
*~
.DS_Store
my_local_mode*

.tags*
tags
!tags/
