[user]
	name = Yuji Suzuki
	email = y0suzuki0123@gmail.com
[init]
	templatedir = ~/.git-template
[commit]
  template = ~/.git-template/commit-message.txt
[core]
	excludesfile = ~/.gitignore-global
	editor = vim
[color]
	ui = auto
[diff]
	renames = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /opt/homebrew-cask/Caskroom/sourcetree/2.0.5.3/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[alias]
	co = checkout
	last = log -1 HEAD
	pick = cherry-pick
	unstage = reset HEAD --
	tags = tag
	stashes = stash list
	remotes = remote -v
	summary = status -u -s
	prestage = diff -w --word-diff=color
	precommit = diff --staged -w --word-diff=color --word-diff-regex='[^[:space:]<>]+'
	move = mv
	remove = rm
	unmerged = branch --no-merged
	unstash = stash pop
	what = show -w
	untrack = rm -r --cached
	rewrite = rebase -i
	amend = commit --amend
	back = checkout "-"
	contributors = shortlog -s -n
	filetrail = log --follow -p -w
	mergetrail = log --ancestry-path --merges
	unmerged = diff --name-only --diff-filter=U
[ghq]
	root = ~/src
[merge]
	tool = fugitive
[mergetool "fugitive"]
	cmd = vim -f -c \"Gdiff\" \"$MERGED\"
[push]
	default = simple
[secrets]
	providers = git secrets --aws-provider
	patterns = [A-Z0-9]{20}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
