[user]
	name = Yuji Suzuki
	email = y0suzuki0123@gmail.com
[init]
	templatedir = ~/.git-template
[core]
	excludesfile = ~/.gitignore-global
	editor = vim
[color]
	ui = auto
[diff]
	renames = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /opt/homebrew-cask/Caskroom/sourcetree/2.0.5.3/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[alias]
	co = checkout
	last = log -1 HEAD
	pick = cherry-pick
	unstage = reset HEAD --
	tags = tag
	stashes = stash list
	remotes = remote -v
	summary = status -u -s
	prestage = diff -w --word-diff=color
	precommit = diff --staged -w --word-diff=color --word-diff-regex='[^[:space:]<>]+'
	move = mv
	remove = rm
	unmerged = branch --no-merged
	unstash = stash pop
	what = show -w
	untrack = rm -r --cached
	rewrite = rebase -i
	amend = commit --amend
	back = checkout "-"
	contributors = shortlog -s -n
	filetrail = log --follow -p -w
	mergetrail = log --ancestry-path --merges
	unmerged = diff --name-only --diff-filter=U
	simple-tag = log --pretty=oneline
	push-all-tags-to-remote = push origin --tags
	show-ignored-files = status --ignored
	# remove-remote-tag = git tag --delete <tag>

	# cf. [mathiasbynens/dotfiles](https://github.com/mathiasbynens/dotfiles/blob/master/.gitconfig)
	# cf. https://github.com/GitAlias/gitalias
	publish = !"git push -u origin $(git branch-name)"
	unpublish = !"git push --delete origin $(git branch-name)"
	find-by-commit = !"f() { query=\"$1\"; shift; git log --pretty=format:'%C(yellow)%h %Cblue%ad  %Creset%s %Cgreen%cn %Cred%d' --decorate --date=short --grep=\"$query\" \"$@\"; }; f \"$@\""
	find-branches-by-commit = branch --always --contains
	find-tags-by-commit = describe -always --contains
	exec = !exec
	branch-name = !"git rev-parse --abbrev-ref HEAD"
	edit-unmerged = !"f() { git ls-files --unmerged | cut -f2 | sort -u ; }; $EDITOR `f`"
	add-unmerged = !"f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
	wip = !"git add -A; git ls-files --deleted -z | xargs -0 git rm; git commit -m \"[WIP] CLEANUP BEFORE PUSH\""
	unwip = !"git log -n 1 | grep -q -c wip && git reset HEAD~1"
	topic-start = "!f(){ branch=$1; git checkout master; git fetch; git rebase; git checkout -b "$branch" master; };f"
	topic-pull = "!f(){ branch=$(git branch-name); git checkout master; git pull; git checkout "$branch"; git rebase master; };f"
	topic-push = "!f(){ branch=$(git branch-name); git push -u origin "$branch"; };f"
	topic-finish = "!f(){ branch=$(git branch-name); git checkout master; git branch -d "$branch"; git push origin ":$branch"; };f"
	cp = cherry-pick
	cp-nx = cherry-pick --no-commit -x

	# cf. http://megakemp.com/2016/08/25/git-undo/ (translation: http://postd.cc/git-undo/)
	undo = "!f() { git reset --hard $(git rev-parse --abbrev-ref HEAD)@{${1-1}}; }; f"
[ghq]
	root = ~/src
[merge]
	tool = fugitive
[mergetool "fugitive"]
	cmd = vim -f -c \"Gdiff\" \"$MERGED\"
[push]
	default = simple
[secrets]
	providers = git secrets --aws-provider
	patterns = [A-Z0-9]{20}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
[rebase]
	autosquash = true
