"*":
  "exception-reporting":
    userId: "e5b3e0c4-6b69-1af4-6a65-5cd0dea5e26e"
  welcome:
    showOnStartup: false
  editor:
    invisibles: {}
    showIndentGuide: true
    lineHeight: 1.2
    showInvisibles: true
    preferredLineLength: 100
    fontSize: 12
  core:
    disabledPackages: [
      "jumpy"
      "background-tips"
      "live-archive"
      "symbols-view"
      "atom-ctags"
      "language-csharp"
      "language-java"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-php"
      "welcome"
      "language-clojure"
      "language-c"
    ]
    themes: [
      "nucleus-dark-ui"
      "one-dark-syntax"
    ]
    audioBeep: false
    projectHome: "/Users/yszk0123/src/github.com/yszk0123"
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "git-plus"
    ]
  "markdown-preview": {}
  "vim-mode":
    wrapLeftRightMotion: true
    useSmartcaseForSearch: true
    useClipboardAsDefaultRegister: true
  term2:
    autoRunCommand: "login -f `whoami`"
  "git-projects":
    ignoredPatterns: "node_modules;\\.git;vendor;bower_components;dist;build"
    rootPath: "~/work;~/src"
    showGitInfo: false
  "vim-surround": {}
  "expand-region": {}
  react: {}
  "language-babel": {}
  jumpy: {}
  minimap: {}
  "atom-beautify":
    _analyticsUserId: "d4f77605-0a76-45b9-a795-464b55ae2baf"
    beautifyEntireFileOnSave: false
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  nuclide:
    remoteProjectsConfig: []
  "autocomplete-ctags": {}
  "merge-conflicts": {}
  "atom-material-ui":
    compactTreeView: true
    disableAnimations: true
    slimScrollbar: true
    tabSize: "Small"
  "ever-notedown":
    toc: false
    mathjaxCustomMacros: "Math"
    gitPath: "/Users/yszk0123/src/Dropbox/evnd"
  "gist-it":
    newGistsDefaultToPrivate: true
  "linter-eslint": {}
  linter:
    lintOnFlyInterval: 1500
  "autocomplete-plus": {}
  "autocomplete-ruby": {}
  "fuzzy-finder":
    ignoredNames: [
      "vendor/"
      "db/"
      "analysis/"
    ]
  "tree-view": {}
  "git-blame": {}
  "atom-ctags":
    cmdArgs: "--exclude=node_modules/ --exclude=.atom/ --exclude=vendor/ --exclude=db/ --exclude=analysis/"
  "atom-fuzzy-grep": {}
  "advanced-open-file": {}
  "git-plus":
    wordDiff: false
    splitPane: "down"
  "atom-ternjs":
    lint: false
  "atom-typescript": {}
  "project-manager": {}
  emmet: {}
  "language-elm": {}
  "cursor-history": {}
  "linter-tslint": {}
  term3: {}
  "spell-check": {}
  "linter-shellcheck": {}
  "todo-show":
    ignoreThesePaths: [
      "**/node_modules/"
      "**/vendor/"
      "**/bower_components/"
      "**/dist/"
    ]
".gfm.source":
  editor:
    preferredLineLength: 100
".diff.source":
  editor:
    preferredLineLength: 100
