"*":
  "advanced-open-file": {}
  "atom-beautify":
    _analyticsUserId: "d4f77605-0a76-45b9-a795-464b55ae2baf"
    beautifyEntireFileOnSave: false
  "atom-ctags":
    disableComplete: true
  "atom-fuzzy-grep": {}
  "atom-material-ui":
    compactTreeView: true
    disableAnimations: true
    fonts: {}
    panels:
      panelContrast: true
    slimScrollbar: true
    tabSize: "Small"
    tabs:
      tabSize: "Small"
    treeView:
      compactTreeView: true
    ui:
      disableAnimations: true
      slimScrollbar: true
  "atom-ternjs":
    lint: false
  "atom-typescript":
    typescriptServices: "/Users/yszk0123/.nodebrew/current/lib/node_modules/typescript/lib/typescriptServices.js"
  "autocomplete-ctags": {}
  "autocomplete-plus": {}
  "autocomplete-ruby": {}
  "autohide-tree-view":
    animationSpeed: 3.5
    hideDelay: 250
    maxWidth: 300
    minWidth: 135
    showDelay: 150
  core:
    audioBeep: false
    disabledPackages: [
      "background-tips"
      "symbols-view"
      "language-csharp"
      "language-java"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-php"
      "welcome"
      "language-clojure"
      "language-c"
      "autocomplete-modules"
      "atom-typescript"
      "linter-tslint"
      "atom-ctags"
      "language-elm"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "git-plus"
    ]
    projectHome: "/Users/yszk0123/src/github.com/yszk0123"
    themes: [
      "nucleus-dark-ui"
      "one-dark-syntax"
    ]
  "cursor-history": {}
  editor:
    fontSize: 13
    invisibles: {}
    lineHeight: 1.2
    preferredLineLength: 100
    showIndentGuide: true
    showInvisibles: true
  emmet: {}
  "ever-notedown":
    gitPath: "/Users/yszk0123/src/Dropbox/evnd"
    mathjaxCustomMacros: "Math"
    toc: false
  "exception-reporting":
    userId: "e5b3e0c4-6b69-1af4-6a65-5cd0dea5e26e"
  "expand-region": {}
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "fuzzy-finder":
    ignoredNames: [
      "vendor/"
      "db/"
      "analysis/"
    ]
  "gist-it":
    newGistsDefaultToPrivate: true
  "git-blame": {}
  "git-plus":
    splitPane: "Down"
    wordDiff: false
  "git-projects":
    ignoredPatterns: "node_modules;\\.git;vendor;bower_components;dist;build"
    rootPath: "~/work;~/src"
    showGitInfo: false
  jumpy: {}
  "language-babel": {}
  "language-elm": {}
  linter:
    lintOnFlyInterval: 1500
  "linter-eslint": {}
  "linter-shellcheck": {}
  "linter-tslint": {}
  "markdown-preview": {}
  "merge-conflicts": {}
  minimap: {}
  nuclide:
    remoteProjectsConfig: []
  "project-manager": {}
  react: {}
  "spell-check": {}
  tabs: {}
  term2:
    autoRunCommand: "login -f `whoami`"
  term3: {}
  "todo-show":
    ignoreThesePaths: [
      "**/node_modules/"
      "**/vendor/"
      "**/bower_components/"
      "**/dist/"
    ]
  "tool-bar":
    iconSize: "16px"
    position: "Left"
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
    wrapLeftRightMotion: true
  "vim-surround": {}
  welcome:
    showOnStartup: false
  zentabs:
    neverCloseUnsaved: true
".diff.source":
  editor:
    preferredLineLength: 100
".gfm.source":
  editor:
    preferredLineLength: 100
".source.ts":
  editor:
    preferredLineLength: 100
".source.tsx":
  editor:
    preferredLineLength: 100
