priority -50

snippet component
import React, { PropTypes } from 'react'

export default function ${1:__Component__} (${2:_props}) {
  return ${0:null}
}

$1.propTypes = {}
endsnippet

snippet classc "class component"
class ${1:__Component__} extends React.Component {
  render () {
    return ${0:null}
  }
}
endsnippet
