priority -50

snippet html "html" b
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>$1</title>
  </head>
  <body>
    ${0:${VISUAL}}
  </body>
</html>
endsnippet

snippet script "inline script"
<script>
  $0
</script>
endsnippet

snippet scripts "external script"
<script src="${1:${VISUAL}}"></script>
endsnippet
