snippet react-import
alias   rim
options head
  import React from 'react';
  ${0:TARGET}

snippet react-component
alias   rc
options head
  class ${1:name} extends React.Component {
    ${0:TARGET}
  }

snippet react-export-default-component
alias   rxdc
options head
  export default class ${1:name} extends React.Component {
    ${0:TARGET}
  }

snippet react-export-component
alias   rxc
options head
  export class ${1:name} extends React.Component {
    ${0:TARGET}
  }
